<div class="text-center mt-5 show-page">

  <%= @picpost.place%>

  <%= image_tag @picpost.picture.url %>

  <%= @picpost.text%>

  <%= render partial: 'picposts/picposts', locals: {picpost: @picpost} %>



  <% if current_user && (@picpost.user_id == current_user.id) %>
    <%= link_to "削除する", picpost_path(@picpost), method: :delete, class: "btn btn-outline-secondary mt-5"%>
  <% end %>

</div>
